{% extends "base.html" %} {% block content %}

<div class="govuk-grid-row">
  <div>
    <h1 class="govuk-heading-l">Harder to Heat Homes</h1>
    <table class="govuk-table govuk-table--small-text-until-tablet" id="data">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header no-sort">UPRN</th>
          <th scope="col" class="govuk-table__header no-sort">Year Built</th>
          <th scope="col" class="govuk-table__header no-sort">Connectivity</th>
          <th scope="col" class="govuk-table__header no-sort">
            Building materials
          </th>
          <th scope="col" class="govuk-table__header no-sort">Size in m2</th>
          <th scope="col" class="govuk-table__header no-sort">Coordinates</th>
          <th scope="col" class="govuk-table__header" width="180">
            Hard To Heat Score: <br>(easy) 0  - 3 (hard)</th>

          <th scope="col" class="govuk-table__header no-sort"></th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        {% for property in properties %}
        <tr class="govuk-table__row">
          <td scope="row" class="govuk-table__cell">{{property.uprn}}</td>
          <td scope="row" class="govuk-table__cell" style="text-align: center">
            {{property.year}}
          </td>
          <td scope="row" class="govuk-table__cell">
            {{property.connectivity}}
          </td>
          <td scope="row" class="govuk-table__cell">{{property.material}}</td>
          <td scope="row" class="govuk-table__cell">{{property.size}}</td>
          <td scope="row" class="govuk-table__cell">
            {{property.coordinates[0]}}
          </td>
          <td scope="row" class="govuk-table__cell" style="text-align: center">{{property.score}}</td>
          <td scope="row" class="govuk-table__cell" >
            <a class="govuk-button govuk-button--secondary" data-module="govuk-button" href="{{url_for('property', uprn=property.uprn)}}" style="color:black; text-decoration: none">See more details</a>
          </td>  
        </tr>
        {% endfor %}
      </tbody>
    </table>
<footer class="govuk-footer">Properties : 4</footer>
    {% endblock %}
  </div>
</div>
