{% extends "base.html" %} {% block content %}

<div class="govuk-width-container">
  <a href="{{url_for('home')}}" class="govuk-back-link">Home</a>
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h2 id="{{property.uprn}}" class="govuk-heading-xl">
          UPRN: {{ property.uprn }}
        </h2>
      </div>
    </div>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <table class="govuk-table">
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header" width=200>OSID:</th>
              <td class="govuk-table__cell">{{property.osid}}</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Year Built:</th>
              <td class="govuk-table__cell">{{property.get_year()}}</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Year Built last updated:</th>
              <td class="govuk-table__cell">{{property.age_updated_date}}</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Connectivity:</th>
              <td class="govuk-table__cell">{{property.get_connectivity()}}</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">
                Building materials:
              </th>
              <td class="govuk-table__cell">{{property.material}}</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Size in m2:</th>
              <td class="govuk-table__cell">{{property.size}}</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Coordinates:</th>
              <td class="govuk-table__cell">{{property.coordinates}}</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">
                Hard To Heat Score:
                <br />
                (easy) 0 - 3 (hard)
              </th>
              <td class="govuk-table__cell">{{property.score}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </main>
</div>

{% endblock %}
